### Item-base Collaborative Filtering - Testing
This notebook is used to simulate the performance of the item-based collaborative filtering algorithm in a retrieval setting and in a prediction setting. 

#### Pre-requisites
- The model is trained and the index is created in the notebook `ItemCF Model & Index.ipynb`.
- The index is saved in the file `yelp_ItemCF.db` in the same directory as this notebook.

In [1]:
# import the python file from ../utilities.py
import sys
sys.path.append('../')
from utilities import *

In [2]:
check_py_version()

this utilities.py updated on 4.6.1306

In [3]:
# Define the database folder path and file names
db_folder = '../../data/processed_data/yelp_data/'
data_files = ['business', 'categories', 'review']

# Load data into a dictionary
yelp_data = load_data_from_db(db_folder, data_files)

# Check loaded data
for table, df in yelp_data.items():
    print(f"Loaded {len(df)} rows from {table} table.")

Loaded 78059 rows from business table.
Loaded 360656 rows from categories table.
Loaded 980418 rows from review table.

In [4]:
df_business = yelp_data["business"]
df_review = yelp_data["review"]

user_mapping, business_mapping, user_business = get_user_business(df_business, df_review)

In [5]:
# split the data into training and test sets
train_data, test_data = train_test_split(user_business, test_size=0.2, random_state=42)

In [6]:
# balance the test data, comment this line to use the original test data
test_data = balance_test_data(test_data)

# group the test data by user_id and get the business_id
test_data_grouped = test_data.groupby('user_id')['business_id'].apply(list).reset_index()

Number of positive reviews: 136473
Number of negative reviews: 59624
Total number of reviews: 197147
Ratio of positive to negative reviews: 2.29
Number of positive reviews: 59624
Number of negative reviews: 59624
Total number of reviews: 119248
Ratio of positive to negative reviews: 1.00

In [2]:
# Connect to the SQLite database
db_path = './yelp_ItemCF.db'
conn = sqlite3.connect(db_path)

### Retrieval Evaluation

In [8]:
retrieval_recommendations = simulate_recommendations(test_data_grouped, user_mapping, business_mapping, conn, k=300, num_users=1000)

In [9]:
true_positive, true_negative, false_positive, false_negative, total, total_positive, ranks = check_retrieval_recommendations(retrieval_recommendations, test_data, test_data_grouped)

evaluation_metric, confusion_matrix, background_stats = compute_evaluation_metric(true_positive, true_negative, false_positive, false_negative, total, total_positive, ranks)

In [10]:
print("Testing Data Statistics")
display(background_stats)

print("Evaluation Metrics")
display(evaluation_metric)

print("Confusion Matrix")
display(confusion_matrix)

Testing Data Statistics

   Total Positive  Total Negative  Total     Ratio
0            1045            1083   2128  0.491071

Evaluation Metrics

   Accuracy  Precision  Recall  F1 Score  F-beta Score  Mean Reciprocal Rank
0    0.5089        0.5   0.001    0.0019        0.0012                0.0087

Confusion Matrix

   True Positive  True Negative  False Positive  False Negative
0              1           1082               1            1044

### Prediction Evaluation

In [ ]:
predicted_labels, actual_labels, positive_count, negative_count, null_count, unrated_count = predict_recommendations(test_data, test_data_grouped, business_mapping, conn)

prediction_lst = [positive_count, negative_count, unrated_count]
evaluation_metric, confusion_matrix, background_stats = compute_prediction_evaluation(actual_labels, predicted_labels, prediction_lst)

In [ ]:
prediction_lst = [positive_count, negative_count, unrated_count]
evaluation_metric, confusion_matrix, background_stats = compute_prediction_evaluation(actual_labels, predicted_labels, prediction_lst, 2)

In [ ]:
print("Testing Data Statistics")
display(background_stats)


# drop the MRR column if it exists
if 'Mean Reciprocal Rank' in evaluation_metric.columns:
    evaluation_metric.drop(columns=['Mean Reciprocal Rank'], inplace=True)
    

print("Evaluation Metrics")
display(evaluation_metric)

print("Confusion Matrix")
display(confusion_matrix)

Testing Data Statistics

   Total Positive  Total Negative  Total     Ratio
0            1043            1085   2128  0.490132

Evaluation Metrics

   Accuracy  Precision    Recall  F1 Score  F-beta Score  Unrated Count
0    0.6005      0.612  0.264606  0.369468      0.298494       0.434211

Confusion Matrix

   True Positive  True Negative  False Positive  False Negative
0            276            447             175             306

In [15]:
conn.close()

### Adding Retrieval Result to the db

In [14]:
# db_path = '../Retrieval Result/Retrieval.db'
# conn = sqlite3.connect(db_path)
# cursor = conn.cursor()

# # Create a lookup for fast access to star ratings from the test data:
# # This dictionary maps (user_id, business_id) to the star rating.
# test_data_lookup = {
#     (row['user_id'], row['business_id']): row['stars_review']
#     for _, row in test_data.iterrows()
# }

# # Prepare bulk records for insertion into SQLite.
# # Format: (model, user_id, business_id, real_label)
# # Here we assume a positive review (real_label = 1) if stars >= 4, else negative (real_label = 0).
# bulk_records = []
# model_name = "ItemCF"  # You can change this if needed

# for user_id, recommended_businesses in retrieval_recommendations.items():
#     for business_id in recommended_businesses[0]:
#         # Check the star rating from the test data lookup
#         star_rating = test_data_lookup.get((user_id, business_id))
#         # Define the real label: 1 if rating is available and >= 4, otherwise 0.
#         real_label = 1 if star_rating is not None and star_rating >= 4 else 0
#         if real_label == 1:
#             print(f"User {user_id} was recommended business {business_id} with a positive rating of {star_rating}.")
#         bulk_records.append((model_name, user_id, business_id, real_label))

# # Example: Now perform a bulk insert using SQLite's executemany.
# # Make sure your 'recommendations' table has a UNIQUE constraint on (model, user_id, business_id) if needed.
# cursor.executemany("""
#     INSERT OR IGNORE INTO recommendations (model, user_id, business_id, real_label)
#     VALUES (?, ?, ?, ?)
# """, bulk_records)
# conn.commit()

# # Close the connection
# conn.close()